/*indispensable à l'api maps*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_unique {
	width: 600px;
	height: 300px;
}

#map_multiple {
	width: 600px;
	height: 300px;
}
/*fin necessités de maps*/
img{
	width:500px;
	border:solid black 1px;
}

.star{
	height: 30px;
	width: 30px;
}